p.gradientMenu__title {
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, .90);
  font-size: 2rem;
}

.gradientMenu__panel {
  margin: auto;
  width: 40rem;
  background-color: rgba(0, 0, 0, .40);
  border-radius: 5px;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
}

.gradientMenu__preview {
  border-radius: 5px;
  box-sizing: border-box;
}

.gradientMenu__preview:not( :last-child ) {
  margin-right: 1rem;
}