.add-color-button {
  border: none;
  background-color: rgba(0,0,0, .50);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-color-button__icon {
  color: rgba(255,255,255,.90);
  font-size: 2rem;
}

.add-color-button__text {
  color: rgba(255,255,255,.90);
}